<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taller2.fiuba.jobify" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.fiuba.taller2.jobify.activity.HomeActivity" >
        </activity>
        <activity
            android:name="com.fiuba.taller2.jobify.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fiuba.taller2.jobify.activity.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name="com.fiuba.taller2.jobify.activity.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name="com.fiuba.taller2.jobify.activity.RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
    </application>

</manifest>
